@import "~bootstrap/scss/bootstrap";

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(10,45,77);
}
 
.wrapper{
    width: 100%;
    height: 100vh;
}

.barcode-input-container{
    min-height: 60%;
    width: 100%;
}

.barcode-input-container > div {
    flex: 50%;
}

.input-form{
    width: 55%;
}

.form-btn-generate{
    margin-left: 2rem;
    height: 60%;
    width: 40%;
}
