{% extends "base.html.twig" %}

{% block javascripts %}
	{{ parent() }}
	{{encore_entry_script_tags('mainPage') }}


{% endblock %}

{% block main %}

	<div class="d-flex justify-content-center align-items-center barcode-input-container flex-wrap" id="barcodeInputContainer">
		<form class="input-form d-flex barcode-form">
			<div class="input-group mb-3">
				<select class="form-select" aria-label="Default select example" id="codeSelect">
					<option value="C39">CODE 39
					</option>
					<option value="C39E">CODE 39 EXTENDED</option>
					<option value="C93">CODE 93
					</option>
					<option value="S25">Standard 2 of 5</option>
					<option value="I25">Interleaved 2 of 5</option>
					<option value="C128">CODE 128</option>
					<option value="C128A">CODE 128 A</option>
					<option value="C128B">CODE 128 B</option>
					<option value="C128C">CODE 128 C</option>
					<option value="EAN5">EAN5</option>
					<option value="EAN8">EAN8</option>
					<option value="EAN13">EAN13</option>
					<option value="UPCA">UPCA</option>
					<option value="UPCE">UPCE</option>
					<option value="MSI">MSI (Variation of Plessey code)</option>
					<option value="POSTNET">POSTNET</option>
					<option value="PLANET">PLANET</option>
					<option value="RMS4CC">RMS4CC</option>
					<option value="KIX">KIX (Klant index - Customer index)</option>
					<option value="IMB">IMB - Intelligent Mail Barcode
					</option>
					<option value="CODABAR">CODABAR</option>
					<option value="CODE11">CODE11</option>
				</select>
				<input type="text" class="form-control" aria-label="Text input with dropdown button" id="valueInput">
			</div>
			<button type="button" class="btn btn-success form-btn-generate" id="btnBarcodeGenerator">Generate barcode</button>
		</form>

		<div class="img-container hide" id="img-container">
		<img src="../Pictures/barcode.webp" alt="Barcode" id="img">
		</div>
	</div>
</div>{% endblock %}
