{% extends "base.html.twig" %}

{% block main %}
	
	<div class="d-flex justify-content-center align-items-center barcode-input-container">
		<form class="input-form d-flex">
			<div class="input-group mb-3">
				<select class="form-select" aria-label="Default select example">
					<option value="EAN-8">EAN-8</option>
					<option value="EAN-13">EAN-13</option>
				</select>
				<input type="number" class="form-control" aria-label="Text input with dropdown button" style="width:70%">
			</div>
			<button type="button" class="btn btn-success form-btn-generate">Generuj kod kreskowy</button>
		</form>
	</div>
{% endblock %}
