<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link>
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{encore_entry_link_tags('app')}}
			<!-- Renders a link tag (if your module requires any CSS)
																																																																																	                 <link rel="stylesheet" href="/build/app.css"> -->
		{% endblock %}

		{% block javascripts %}
			{{encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<div class="wrapper">
			{% block header %}
				<nav class="navbar navbar-dark  bg-dark">
					<div class="container-fluid">
						<span class="navbar-brand mb-0 h1">Barcodes generator</span>
					</div>
				</nav>
			{% endblock %}
			{% block main %}{% endblock %}
		</div>
	</body>
</html>
